@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=family=Anton&family=Montserrat&family=Noto+Serif&display=swap');

/* Geral */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Anton', sans-serif;
}
/* Header */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
}
nav ul li a:hover{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #005370;
    transition: 0.5s;
}
.log{
    margin-left: 10px;
}

li a{
    text-decoration: bold-bolder;
    color: #555;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #555;
}
.header{
    background: linear-gradient(to right, #017a9baf, #005370);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header row{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s, color 0.3s, opacity 1s;
}
.btn:hover{
    background: #006C8A, #fff;
    opacity: 80% #fff;
}

/* ___________________________________________________________________ */
/* Header Responsividade (Mobile) */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* ___________________________________________________________________ */
/* Slides*/
.slider{
    margin: 10px 365px;
    width: 100%;
    height: 400%;
    overflow: hidden; 
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
 
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #005370;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #006C8A;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #005370;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #004A5F;
}

/* ___________________________________________________________________ */
/* Categorias*/
.linha {
    width: 1000px;
    border: none;
    background: #000000;
    height: 1px;
    margin: 20px 270px;
    padding-left: 10px;
}
.titulo{
    text-align: center;
    position: relative;
    color: #000;
    margin: 0 auto 80px;
    line-height: 60px;
    font-family: 'Anton', sans-serif;


}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.categories{
    margin: 70px 0;
}

.col-3{
    box-sizing: border-box;
    flex-basis: 20%;
    min-width: 50px;
    margin-bottom: 50px;
    margin-left: 72px;
}

.col-3 img{
    width: 70%;
    -webkit-filter: grayscale(0%);
}
.img-btn:hover{
    -webkit-filter:brightness(80%);
}
/* ___________________________________________________________________ */
/* Footer*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
   flex-basis: 30%; 
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

/* ___________________________________________________________________ */
/* Responsividade*/
@media screen and (max-width: 800px) {

    /* Header */
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color: #fff;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
 }
  
  @media screen and (max-width: 600px) {
    /* Geral */
    .row {
      text-align: center;
    }
    .col-2, .col-3, .col-4 {
      flex-basis: 100%;
    }
    /* Produto detalhado */
    .single-product .row {
      text-align: left;
    }
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
      padding-bottom: 20px;
    }
  
  }