@import url('https://fonts.googleapis.com/css2?family=Anton&family=swap');

/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Anton", sans-serif;
}


/* Header */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
}
nav ul li a:hover{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #005370;
    transition: 0.5s;
}
.log{
    margin-left: 10px;
}

li a{
    text-decoration: bold-bolder;
    color: #555;
}
p{
    color: #555;
}
.header{
    /* background: radial-gradient(#fff, #ffd6d6); */
    background: linear-gradient(to right, #017a9baf, #005370);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .slide img{
    width: 1100px;
    height: 700px;
    padding-top: 30px;
    margin-left: 230px;
} */

.header row{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s, color 0.3s, opacity 1s;
}
.btn:hover{
    background: #006C8A, #fff;
    opacity: 80% #fff;
}

/* ___________________________________________________________________ */
/* Header Responsividade (Mobile) */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.titulo{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 500px;
    top: 40px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    
    color: #006C8A;
    
}

.subtitulo{
    position: absolute;
    width: 441px;
    height: 36px;
    left: 500px;
    top: 150px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #FFFFFF;
}

body{
    background-color: black;
}

.futebol{
position: absolute;
width: 290px;
height: 372.43px;
left: 1038px;
margin-top: 300px;

background: url(futebol\ 1.png);
}

.basquete{
position: absolute;
width: 290px;
height: 375px;
left: 146px;
margin-top: 300px;

background: url(basquete\ 1.png);
}

.volei{
position: absolute;
width: 290px;
height: 375px;
left: 592px;
margin-top: 300px;

background: url(volei\ 1.png);
}

.artigos{
position: absolute;
width: 300px;
height: 36px;
left: 165px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.acessorios{
position: absolute;
width: 107px;
height: 36px;
left: 1131px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.roupas{
position: absolute;
width: 69px;
height: 36px;
left: 685px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}


.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    margin-top: 300px;
}
.footer-col-1{
   flex-basis: 30%; 
   margin-top: 700px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.siga{
   margin-top: -100px;
   color: white;
   margin-left: 1200px;
   margin-top: -300px;
}

ul{
    list-style: none;
    margin-left: 1200px;
    margin-top: 10px;
    color: #8a8a8a;
}
a{
    color: #8a8a8a;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}