@import url('https://fonts.googleapis.com/css2?family=Anton&family=swap');

/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Anton", sans-serif;
}

.titulo{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 500px;
    top: 40px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    
    color: #006C8A;
    
}

.subtitulo{
    position: absolute;
    width: 441px;
    height: 36px;
    left: 500px;
    top: 150px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #FFFFFF;
}

body{
    background-color: black;
}

.futebol{
position: absolute;
width: 290px;
height: 372.43px;
left: 1038px;
margin-top: 300px;

background: url(futebol\ 1.png);
}

.basquete{
position: absolute;
width: 290px;
height: 375px;
left: 146px;
margin-top: 300px;

background: url(basquete\ 1.png);
}

.volei{
position: absolute;
width: 290px;
height: 375px;
left: 592px;
margin-top: 300px;

background: url(volei\ 1.png);
}

.artigos{
position: absolute;
width: 300px;
height: 36px;
left: 165px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.acessorios{
position: absolute;
width: 107px;
height: 36px;
left: 1131px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.roupas{
position: absolute;
width: 69px;
height: 36px;
left: 685px;
margin-top: 450px;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}


.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    margin-top: 300px;
}
.footer-col-1{
   flex-basis: 30%; 
   margin-top: 700px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.siga{
   margin-top: -100px;
   color: white;
   margin-left: 1200px;
   margin-top: -300px;
}

ul{
    list-style: none;
    margin-left: 1200px;
    margin-top: 10px;
    color: #8a8a8a;
}
a{
    color: #8a8a8a;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}