/* #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  #popup h3 {
    margin-top: 0;
  }
  
  #popup button {
    margin-top: 10px;
  } */

/* Botões de fechar e aceitar */
/* document.addEventListener("DOMContentLoaded", function() {
  var lerMaisBtn = document.getElementById("lerMaisBtn");
  var fecharBtn = document.getElementById("fecharBtn");
  var popup = document.getElementById("popup");
  var concordoCheckbox = document.getElementById("concordoCheckbox");
  
  lerMaisBtn.addEventListener("click", function() {
    popup.style.display = "block";
  });
  
  fecharBtn.addEventListener("click", function() {
    if (concordoCheckbox.checked) {
      popup.style.display = "none";
    } else {
      alert("Você deve concordar com os termos de política de privacidade para fechar o pop-up.");
    }
  });
}); */



        /* ___________________________________________________________________________________________________ */
        /* Botões de abrir e fechar */
        #abrir-popup:checked ~ #conteudo {
          display: block;
        }
        #fechar-popup:checked ~ #conteudo, #fechar-popup:checked ~ #fechar-popup-btn{
          display: none;
          align-self: center;
        }
        #fechar-popup:checked ~ #conteudo, #fechar-popup:checked ~ #aceito-popup-btn{
          display: none;
          align-self: center;
        }

        #fa-regular #fa-circle-xmark #fa-bounce{
        font-size: 34px;
        color: #006C8A;
        }
      
        #abrir-popup-btn {
          display: block;
          color: #000;
          background-color: #006C8A;
          width: fit-content;
          padding: 12px 34px;
          border-radius: 4px;
          box-shadow: 0px 5px 15px -5px #20003044;
          cursor: pointer;
          margin-left: 50px;
        }
        #abrir-popup-btn:hover {
          display: block;
          color: #006C8A;
          background-color: #fff;
          width: fit-content;
          padding: 12px 34px;
          border-radius: 4px;
          box-shadow: 0px 5px 15px -5px #20003044;
          cursor: pointer;
        }
        #fechar-popup-btn {
          background-color: #00000020;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
        }
/*_____________________________________________________________________________  */
        #conteudo {
          box-sizing: border-box;
          position: fixed;
          width: min(500px, 90vw);
          height: 300px;
          left: max(calc(50vw - 380px / 2), 4vw);
          top: calc(50vh - 80px);
          color: #000;
          padding: 22px;
          background-color: #fff;
          opacity: 95%;
          border: 2px solid #006C8A;
          border-radius: 8px;
          box-shadow: 0px 5px 15px -5px #0000003c;
        }
        h3{
            color: #006C8A;
            font-weight: lighter;
            font-size: large;
        }

        /* Leir mais */
        
        #conteudo #ler-popup-btn {
            display: block;
            color: #000;
            background-color: #006C8A;
            width: fit-content;
            padding: 10px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
            margin-left: 60px;
            align-items: end;
        }
    
        #conteudo #ler-popup-btn:hover {
            display: block;
            color: #006C8A;
            background-color: #fff;
            width: fit-content;
            padding: 12px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
        }
/*___________________________________________________________________________________________________  */
/* Li e concodo com os termos */
        #conteudo #aceito-popup-btn {
            display: block;
            color: #000;
            background-color: #006C8A;
            width: fit-content;
            padding: 10px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
            margin-left: 60px;
            align-items: end;
        }
        #conteudo #aceito-popup-btn:hover {
            display: block;
            color: #006C8A;
            background-color: #fff;
            width: fit-content;
            padding: 12px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
        }


        #conteudo #popup-btn ul li {
            display: inline-block;
            list-style-type: none;
        }
/* ___________________________________________________________________________________________________ */
    /*Conteúdo- Ler mais */
    /* Botões de abrir e fechar */
        #abrir-lermais-popup:checked ~ #conteudo2, #ler-popup-btn ~, #fechar-popup ~ #conteudo {
          display: block;
        }
        #fechar-lermais-popup:checked ~ #conteudo2, #fechar-popup2:checked ~ #fechar-popup-btn2{
          display: none;
          align-self: center;
        }
        #fechar-popup:checked ~ #conteudo2, #fechar-popup2:checked ~ #aceito-popup-btn2{
          display: none;
          align-self: center;
        }

        #fa-regular #fa-circle-xmark #fa-bounce{
        font-size: 34px;
        color: #006C8A;
        }

        #abrir-popup-btn {
          display: block;
          color: #000;
          background-color: #006C8A;
          width: fit-content;
          padding: 12px 34px;
          border-radius: 4px;
          box-shadow: 0px 5px 15px -5px #20003044;
          cursor: pointer;
          margin-left: 50px;
        }
        #abrir-popup-btn:hover {
          display: block;
          color: #006C8A;
          background-color: #fff;
          width: fit-content;
          padding: 12px 34px;
          border-radius: 4px;
          box-shadow: 0px 5px 15px -5px #20003044;
          cursor: pointer;
        }
        #fechar-popup-btn {
          background-color: #00000020;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
        }

/* _________________________________________________________________________________________________________ */
        #conteudo2 {
          box-sizing: border-box;
          position: fixed;
          width: min(500px, 90vw);
          height: 300px;
          left: max(calc(50vw - 380px / 2), 4vw);
          top: calc(50vh - 80px);
          color: #000;
          padding: 22px;
          background-color: #fff;
          opacity: 95%;
          border: 2px solid #006C8A;
          border-radius: 8px;
          box-shadow: 0px 5px 15px -5px #0000003c;
          overflow-y: scroll;

        }
        #conteudo2 p{
            text-align: justify;
            justify-content: center;
        }
        #conteudo2 #ler-popup-btn {
            display: block;
            color: #000;
            background-color: #006C8A;
            width: fit-content;
            padding: 10px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
            margin-left: 60px;
            align-items: end;
        }
    
        #conteudo2 #ler-popup-btn:hover {
            display: block;
            color: #006C8A;
            background-color: #fff;
            width: fit-content;
            padding: 12px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
        }
/*___________________________________________________________________________________________________  */
/* Li e concodo com os termos */
        #conteudo2 #aceito-popup-btn2 {
            display: block;
            color: #000;
            background-color: #006C8A;
            width: fit-content;
            padding: 10px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
            margin-left: 60px;
            align-items: end;
        }
        #conteudo2 #aceito-popup-btn2:hover {
            display: block;
            color: #006C8A;
            background-color: #fff;
            width: fit-content;
            padding: 12px 34px;
            border-radius: 4px;
            box-shadow: 0px 5px 15px -5px #20003044;
            cursor: pointer;
        }


        #conteudo2 #popup-btn ul li {
            display: inline-block;
            list-style-type: none;
        }

/* _________________________________________________ */
        nav {
        flex: 1;
        text-align: right;
        }
        nav ul {
        display: inline-block;
        list-style-type: none;
    }
        nav ul li {
        display: inline-block;
        margin-right: 20px;
        flex-flow: column-reverse;
        }
        nav ul li a {
        text-decoration: none;
        padding: 5px;
        
        }
        nav ul li a:hover{
        background-color: #006C8A;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        transition: 0.5s;
        }


/* Contéudo da páina que será sobreposta com o popup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=family=Anton&family=Montserrat&family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Prompt&display=swap');

/* ___________________________________________________________________ */
/* Geral */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Anton', sans-serif;
}

/* ___________________________________________________________________ */
/* Header */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
}
nav ul li a:hover{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #005370;
    transition: 0.5s;
}
.log{
    margin-left: 10px;
}

li a{
    font-weight: bolder;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.header{
    background: linear-gradient(to right, #017a9baf, #005370);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body .titulo{
    font-family: 'Anton', sans-serif;
    font-weight: 200;
}
body .paragrafo{
    font-family: 'Harmattan', sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding: 30px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s, color 0.3s, opacity 1s;
}
.btn:hover{
    background: #006C8A, #fff;
    opacity: 80% #fff;
}

/* ___________________________________________________________________ */
/* Header Responsividade (Mobile) */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* _____________________________________________________________________ */
body{

    color: white;
    }

    .paragrafo{
        font-size: 30px;
        line-height: 50px;
        color: #fff;
        margin-left: 50px;
    }

    .titulo{
    color: #006C8A;
    font-size: 50px;
    margin-left: 50px;
    }

   .botao{
    background-color: black;
    color: white;
    font-family: 'Harmattan', sans-serif;
    font-weight: 700;
    }

    .imagem{
        margin-left: 800px;
        height: 458px;
        width: 578px;
        margin-top: -10000px;
    }

    button {
        border: none;
        background-color: #006C8A;
        color: #fff;
        padding: 8px;
        text-decoration: none;
        margin-left: 45px;
        cursor: pointer;
    }
    button a {
        color: #000;
        background-color: #fff;
        padding: 8px;
        text-decoration: none;

    }
    button a:hover {
        background-color: #006C8A;
        color: #fff;

    }
    iframe {
        width: 100%;
        height: 300px;
    
    }
    .destaque {
        background-color: #111;
    }

/* ___________________________________________________________________ */
/* Pop-up */

/* ___________________________________________________________________________________________________ */
/* Botões de abrir e fechar */
#abrir-popup:checked ~ #conteudo {
  display: block;
}
#fechar-popup:checked ~ #conteudo, #fechar-popup:checked ~ #fechar-popup-btn{
  display: none;
  align-self: center;
}
#fechar-popup:checked ~ #conteudo, #fechar-popup:checked ~ #aceito-popup-btn{
  display: none;
  align-self: center;
}

#fa-regular #fa-circle-xmark #fa-bounce{
font-size: 34px;
color: #006C8A;
}

#abrir-popup-btn {
  display: block;
  color: #000;
  background-color: #006C8A;
  width: fit-content;
  padding: 12px 34px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px -5px #20003044;
  cursor: pointer;
  margin-left: 50px;
}
#abrir-popup-btn:hover {
  display: block;
  color: #006C8A;
  background-color: #fff;
  width: fit-content;
  padding: 12px 34px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px -5px #20003044;
  cursor: pointer;
}
#fechar-popup-btn {
  background-color: #00000020;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/*_____________________________________________________________________________  */
#conteudo {
  box-sizing: border-box;
  position: fixed;
  width: min(500px, 90vw);
  height: 300px;
  left: max(calc(50vw - 380px / 2), 4vw);
  top: calc(50vh - 80px);
  color: #000;
  padding: 22px;
  background-color: #fff;
  opacity: 95%;
  border: 2px solid #006C8A;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -5px #0000003c;
}
h3{
    color: #006C8A;
    font-weight: lighter;
    font-size: large;
}

/* Leir mais */

#conteudo #ler-popup-btn {
    display: block;
    color: #000;
    background-color: #006C8A;
    width: fit-content;
    padding: 10px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
    margin-left: 60px;
    align-items: end;
}

#conteudo #ler-popup-btn:hover {
    display: block;
    color: #006C8A;
    background-color: #fff;
    width: fit-content;
    padding: 12px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
}
/*___________________________________________________________________________________________________  */
/* Li e concodo com os termos */
#conteudo #aceito-popup-btn {
    display: block;
    color: #000;
    background-color: #006C8A;
    width: fit-content;
    padding: 10px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
    margin-left: 60px;
    align-items: end;
}
#conteudo #aceito-popup-btn:hover {
    display: block;
    color: #006C8A;
    background-color: #fff;
    width: fit-content;
    padding: 12px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
}


#conteudo #popup-btn ul li {
    display: inline-block;
    list-style-type: none;
}
/* ___________________________________________________________________________________________________ */
/*Conteúdo- Ler mais */
/* Botões de abrir e fechar */
#abrir-lermais-popup:checked ~ #conteudo2, #ler-popup-btn ~, #fechar-popup ~ #conteudo {
  display: block;
}
#fechar-lermais-popup:checked ~ #conteudo2, #fechar-popup2:checked ~ #fechar-popup-btn2{
  display: none;
  align-self: center;
}
#fechar-popup:checked ~ #conteudo2, #fechar-popup2:checked ~ #aceito-popup-btn2{
  display: none;
  align-self: center;
}

#fa-regular #fa-circle-xmark #fa-bounce{
font-size: 34px;
color: #006C8A;
}

#abrir-popup-btn {
  display: block;
  color: #000;
  background-color: #006C8A;
  width: fit-content;
  padding: 12px 34px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px -5px #20003044;
  cursor: pointer;
  margin-left: 50px;
}
#abrir-popup-btn:hover {
  display: block;
  color: #006C8A;
  background-color: #fff;
  width: fit-content;
  padding: 12px 34px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px -5px #20003044;
  cursor: pointer;
}
#fechar-popup-btn {
  background-color: #00000020;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* _________________________________________________________________________________________________________ */
#conteudo2 {
  box-sizing: border-box;
  position: fixed;
  width: min(500px, 90vw);
  height: 300px;
  left: max(calc(50vw - 380px / 2), 4vw);
  top: calc(50vh - 80px);
  color: #000;
  padding: 22px;
  background-color: #fff;
  opacity: 95%;
  border: 2px solid #006C8A;
  border-radius: 8px;
  box-shadow: 0px 5px 15px -5px #0000003c;
  overflow-y: scroll;

}
#conteudo2 p{
    text-align: justify;
    justify-content: center;
}
#conteudo2 #ler-popup-btn {
    display: block;
    color: #000;
    background-color: #006C8A;
    width: fit-content;
    padding: 10px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
    margin-left: 60px;
    align-items: end;
}

#conteudo2 #ler-popup-btn:hover {
    display: block;
    color: #006C8A;
    background-color: #fff;
    width: fit-content;
    padding: 12px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
}
/*___________________________________________________________________________________________________  */
/* Li e concodo com os termos */
#conteudo2 #aceito-popup-btn2 {
    display: block;
    color: #000;
    background-color: #006C8A;
    width: fit-content;
    padding: 10px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
    margin-left: 60px;
    align-items: end;
}
#conteudo2 #aceito-popup-btn2:hover {
    display: block;
    color: #006C8A;
    background-color: #fff;
    width: fit-content;
    padding: 12px 34px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px -5px #20003044;
    cursor: pointer;
}


#conteudo2 #popup-btn ul li {
    display: inline-block;
    list-style-type: none;
}

/* _________________________________________________ */
nav {
flex: 1;
text-align: right;
}
nav ul {
display: inline-block;
list-style-type: none;
}
nav ul li {
display: inline-block;
margin-right: 20px;
flex-flow: column-reverse;
}
nav ul li a {
text-decoration: none;
padding: 5px;

}
nav ul li a:hover{
background-color: #006C8A;
padding: 5px;
border-radius: 5px;
color: #fff;
transition: 0.5s;
}

.pop h3{
    color: #006C8A;
    font-weight: lighter;
    font-size: large;
}
/* ___________________________________________________________________ */
/* Responsividade*/

@media screen and (max-width: 800px) {

    /* Header */
    nav ul {
      position: absolute;
      top: 100px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color: #fff;
    }
    iframe {
        width: 100%;
        height: 600px;
    }
    .destaque {
        margin-top: 180px;
    }
    .imagem {
        display: none;
    }

  
 }

 .pesquisa {
    margin-left: 150px;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    border-color: #005370;
    text-decoration: none;
}